.navbar {
    height: 5rem;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: clamp(30px, 3vw,40px);;
    text-transform: uppercase;
}

ul.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}


a.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    height: 100%;
    padding: 0 1.5rem;
    text-decoration: none;
    color: #6699CC;
}

a.active {
    color: grey;
    pointer-events: none
}

a:hover {
    color: grey;
}