body {
  background-color: #c5c5c5;
  color: white;
  font-family: latoBoldItalic;
}

@font-face {
  font-family: latoBoldItalic;
  src: url(../public/Lato-BoldItalic.ttf)
}

@font-face {
  font-family: latoBold;
  src: url(../public/Lato-Bold.ttf)
}

.main {
  font-size: clamp(20px, 2vw,30px);
  margin: 2rem;
  font-family: latoBold;
}

.base-button {
  border-radius: 5px;
  background-color: grey;
  color: white;
  border: 0;
  outline: 0;
  margin: 10px 5px;
  padding: 5px 10px;
  font-family: latoBold;
  font-size: clamp(20px, 2vw, 30px);
}

.base-button:hover {
  background-color: white;
  color: grey;
}

.btn-link {
  text-decoration: none;
}